<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311128380415-5dh787597b9j93t9klig0oj58t8tv619.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311128380415-5dh787597b9j93t9klig0oj58t8tv619</string>
	<key>API_KEY</key>
	<string>AIzaSyA1pIrKsikkpiCIG4eEBsfjSI5KQcTjGYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>311128380415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>valentina-834fa</string>
	<key>STORAGE_BUCKET</key>
	<string>valentina-834fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311128380415:ios:256c2722f9e9aac3618dca</string>
</dict>
</plist>